.keypad {
    height: 400px;
}

.keypad-row {
    display: flex;
}

.keypad-row button {
    font-size: 35px;
    margin: 13px;
    height: 75px;
    border: 2px;
}

.keypad-btn {
    width: 100%;
    border-radius: 50%;
}

.keypad-equal-btn {
    width: 980px;
    border-radius: 40px;
}

.keypad-primary-btn {
    background-color: white;
    color: rgb(106, 187, 207);
    box-shadow: 0px 10px 10px #e6e4e4;
}

.keypad-secondary-btn {
    background-color: rgb(54, 201, 238);
    color: white;
    box-shadow: 0px 10px 10px rgb(130, 220, 243);
}
